<div class="modal" id='myModal'>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalTitle">This is the default title of my modal</h5>
                <button type="button" id = 'closesModal' class="close" aria-label="Close">
                    <span >×</span>
               </button>
            </div>
            <div class="modal-body">
                <h4>This is the Modal Body, I can add whatever I want in here.</h4>
            </div>
        </div>
    </div>
</div>
